<footer>
  <span class="wa-heading-l">Made with <i class="fa-sharp-duotone fa-regular fa-heart fa-xl" style="--fa-primary-color: #e10909; --fa-secondary-color: #ef1f1f;"></i> in Austin, TX</span>
</footer>
